<%- include('partials/header') %>
<%- include('partials/navbar') %>

    <div class="container">
        <h1 class="display-4">Add Entry to Appointment Table</h1>
        <p class="lead">Please enter the appointment information.</p>
    
        <form action="#nowhere">
            <div class="form-group">
                <label for="employee_ID" class="form-label">Employee ID</label>
                <input type="name" class="form-control" id="employee_ID" placeholder="Employee ID Name">
            </div>
            <div class="form-group">
                <label for="patient_name" class="form-label">Patient Name</label>
                <input type="name" class="form-control" id="patient_name" placeholder="Patient Name">
            </div>
            <div class="form-group">
                <label for="symptoms" class="form-label">Symptoms</label>
                <input type="symptoms" class="form-control" id="symptoms" placeholder="Symptoms">
            </div>
            <div class="form-group">
                <label for="treatment" class="form-label">Treatment</label>
                <input type="treatment" class="form-control" id="treatment" placeholder="Treatment">
            </div>

            <div class="form-group">
                <label for="doctor_type" class="form-label">Doctor Type/Profession</label>
                <input type="doctor_type" class="form-control" id="doctor_type" placeholder="Doctor Type/Profession">
            </div>
            <div class="form-check">
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
            </div>
            
            <!-- <button type="submit" class="btn btn-warning">Change Patient</button> -->
            
        </form>
        <div class="mb-3 form-check"></div>
            <a href="/TablesToEdit">
                <button type="submit" class="btn btn-danger">Back</button>
            </a>
            
            <a href="/MainMenu">
                <button type="submit" class="btn btn-success">Main Menu</button>
            </a>
            
        </div>
    </div>
    <%- include('partials/footer') %>
