<%- include('partials/header') %>

    <div class="container">
        <h1 class="display-2">AKA Health Login Page</h1>
        <p class="lead">Please enter your login information to get started!</p>

        <form action="/MainMenu" method="GET">
            <div class="form-group">
                <label for="med_username" class="form-label">Username</label>
                <input type="email" class="form-control" id="med_username" aria-describedby="emailHelp" placeholder="username">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <label for="med_password" class="form-label">Password</label>
                <input type="password" class="form-control" id="med_password" placeholder="password">
            </div>
            
            <a href=""> <!-- main menu -->
                <button type="submit" class="btn btn-success" id="demo">Submit</button>
            </a>
            
        </form>
        <div style="margin-top: 50px; margin-bottom: 50px; margin-left:0px;">
            

            <a href="/AddNewEmployee"> <!-- add new employee -->
                <button type="submit" class="btn btn-success">Create an account</button>
            </a>
            
        </div>
    </div>

    <%- include('partials/footer') %>