<%- include('partials/header') %>

    <div class="container">
        <h1 class="display-2">AKA Health Login Page</h1>
        <p class="lead">Please enter your login information to get started!</p>

        <form action="/login" method="POST">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            </div>
            
            <!-- <a href=""> 
                <button type="submit" class="btn btn-success" id="demo">Login</button>
            </a> -->

            <div class="form-check">
                <button type="text" class="btn btn-primary" style="margin-top: 20px;">Login</button>
            </div>
            
        </form>
        <div style="margin-top: 50px; margin-bottom: 50px; margin-left:0px;">
            

            <a href="/AddNewEmployee"> <!-- add new employee -->
                <button type="submit" class="btn btn-success">Create an account</button>
            </a>
            
        </div>
    </div>

    <%- include('partials/footer') %>