<%- include('partials/header') %>

<div class="container-fluid">
    <div style="margin: 50px; text-align: center;">
        <h1>AKA Health Patient Statistics Page</h1>
    </div>

    <!-- <div style="margin: 40px; text-align: center;">
        <a href="/TablesToEdit">
          <button type="button" class="btn btn-primary btn-lg">Patient Statistics</button>
         </a>
    </div>
    <div style="margin: 40px; text-align:center;">
        <a href="/PatientFilteration">
            <button type="button" class="btn btn-success btn-lg">Employee Statistics</button>
         </a>
    </div> -->
</div>


<%- include('partials/footer') %>