<%- include('partials/header') %>

<div class="container-fluid">
    <div style="margin: 50px; text-align: center;">
        <h1>AKA Health Employee Statistics Page</h1>
    </div>

    <form action="/" method="POST">
        <label>Number of Employees in A Dept. - Enter Dept. Name:</label>
        <input type="text" size="20" name="dept_name" id="dept_name" placeholder="ex: Pediatrics" >
        <button type="text" class="btn btn-primary">GO</button>
    </form>

    <!-- <label><%= data.num-employees %></label> -->

    <div>
        <br>
    </div>

    <form action="/" method="POST">
        <label>Doctors have experience with</label>
        <input type="text" size="20" name="gender" id="gender" placeholder="ex: ER" >
        <button type="text" class="btn btn-primary">GO</button>
    </form>

    <div>
        <br>
    </div>

    <form action="/" method="POST">
        <label for="employee_ID">Doctor(s) with the most appointments</label>
        <button type="text" class="btn btn-primary">GO</button>
    </form>

    <div>
        <br>
    </div>

    <form action="/" method="POST">
        <label for="employee_ID">Doctor(s) with the most accesses</label>
        <button type="text" class="btn btn-primary">GO</button>
    </form>


</div>


<%- include('partials/footer') %>