<%- include('partials/header') %>

<div class="container-fluid">
    <div style="margin: 50px; text-align: center;">
        <h1>AKA Health Statistics Page</h1>
        <h3>Easy Lookups</h3>
    </div>

    <div style="margin: 40px; text-align: center;">
        <a href="/StatPatient">
          <button type="button" class="btn btn-primary btn-lg">Patient Statistics</button>
         </a>
    </div>
    <div style="margin: 40px; text-align:center;">
        <a href="/StatEmployee">
            <button type="button" class="btn btn-success btn-lg">Employee Statistics</button>
         </a>
    </div>
</div>


<%- include('partials/footer') %>